<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:each="person : ${user}">
    <a th:href="'delete/'+${person.id}"><li th:text="${person}"></a></li>
</ul>
</body>
</html>